#add-body,
#update-body {
  --gradient-start: white;
  --gradient-opacity: 0.5;
  color: light-dark(var(--clr-font-main));
  background: var(--body-bg);
  font-family: var(--reg-font);
  display: grid;
  overflow-y: scroll;
  transition:
    background-color 200ms,
    color 200ms;

  button:not(form button),
  #update-id-form button {
    cursor: pointer;
    padding: 0.5rem 1rem 0.6rem;
    border-radius: 10px;
    border: none;
    outline: 1px solid currentColor;
    box-shadow: 0px 2px 8px currentColor;
    position: relative;

    &:hover {
      scale: 1.05;
      box-shadow: 0px 1px 6px currentColor;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0.2rem 0.15rem 0;
      border-radius: 50px;
      corner-shape: squircle;
      background: linear-gradient(
        to bottom,
        rgb(
          from var(--gradient-start) r g b / calc(var(--gradient-opacity) - 0.2)
        ),
        transparent 10%
      );
    }
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
    color: currentColor;
    background-color: var(--body-bg);
  }

  /* --------------------------------------------------------- */
  input[name="location"] {
    anchor-name: --loc-input;
    z-index: 9999;
  }
  input[name="caseType"] {
    anchor-name: --loc-input;
    z-index: 9999;
  }
  datalist {
    position: absolute;
    position-anchor: --loc-input;
    top: calc(anchor(bottom) + 0.5rem);
    width: 100%;
  }

  datalist option:nth-child(even) {
    rotate: calc(var(--rotate-start) * -1);
  }
  datalist option:nth-child(odd) {
    rotate: var(--rotate-start);
  }

  datalist option {
    --gradient-start: var(--accent-purple);
    --gradient-opacity: 0.15;
    color: red;
    cursor: pointer;
    margin: 0;
    z-index: 999;
    padding: 0.5rem 1rem;
    position: absolute;
    top: var(--options-dropin-start-top);
    left: 50%;
    transform: translateX(-50%);
    transition:
      top 0.7s var(--timing2),
      rotate 0.5s var(--timing);
    margin-block-start: 0.25rem;
    rotate: 0;
    min-width: 50%;

    &::after {
      content: "";
      position: absolute;
      inset: 0.15rem 0.15rem 0;
      border-radius: 50px;
      corner-shape: squircle;
      background: linear-gradient(
        to bottom,
        rgb(from var(--gradient-start) r g b / var(--gradient-opacity)),
        transparent 25%
      );
    }
  }
  datalist option:hover {
    /* --gradient-start: white;
    --gradient-opacity: 0.5; */
    background-color: var(--accent-purple) !important;
    color: var(--outline-purple);
  }
  /* ----------------------------------------------------------- */

  /* something funky with the heading font in ffox... */
  h1,
  h2 {
    font-family: var(--heading-font);
    letter-spacing: 5px;
    font-size: 3rem;
    text-align: center;
  }

  header {
    padding-block-start: 1rem;
    padding-inline: 4rem;
    * {
      transition:
        background-color 200ms,
        color 200ms;
    }

    view-transition-name: header-transition;
    z-index: 999;

    .heading-img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin-block: 1rem;

      h1 {
        font-size: 2.5rem;
        line-height: 1;
      }
    }

    nav {
      ul {
        display: flex;
        gap: 1rem;
        list-style-type: none;
        flex-wrap: wrap;
        justify-content: center;

        li {
          width: fit-content;
        }
      }

      button[data-form="cd-comps-form"].active-nav-btn {
        background-color: hsl(from light-dark(var(--clr-cd-comps)) h s l / 0.4);
        outline-color: hsl(from light-dark(var(--clr-cd-comps)) h s l / 0.4);
        color: hsl(0, 0%, 95%);
      }
      button[data-form="cd-singles-form"].active-nav-btn {
        background-color: hsl(
          from light-dark(var(--clr-cd-singles)) h s l / 0.4
        );
        outline-color: hsl(from light-dark(var(--clr-cd-singles)) h s l / 0.4);
        color: light-dark(white, hsl(55, 85%, 50%));
      }
      button[data-form="cd-main-form"].active-nav-btn {
        background-color: hsl(from light-dark(var(--clr-cds-main)) h s l / 0.4);
        outline-color: hsl(from light-dark(var(--clr-cds-main)) h s l / 0.4);
        color: light-dark(white, hsl(180, 50%, 60%));
      }
      button[data-form="records-form"].active-nav-btn {
        background-color: hsl(from light-dark(var(--clr-records)) h s l / 0.4);
        outline-color: hsl(from light-dark(var(--clr-records)) h s l / 0.4);
        color: light-dark(white, hsl(300, 34%, 60%));
      }
      button[data-form="tapes-form"].active-nav-btn {
        background-color: hsl(from light-dark(var(--clr-tapes)) h s l / 0.4);
        outline-color: hsl(from light-dark(var(--clr-tapes)) h s l / 0.4);
        color: light-dark(white, hsl(244, 100%, 75%));
      }

      button:focus-visible {
        outline: 1px solid light-dark(black, white);
        outline-offset: 7px;
      }
    }
  }

  main {
    /* opacity: 0; */
    transition: opacity 500ms;
    display: grid;
    grid-template-columns: 55% 43%;
    padding-inline: 2rem;

    h2 {
      text-align: start;
      anchor-name: --form-heading;
      margin-inline: 3rem;
    }

    form .form-groups-wrapper button {
      position: absolute;
      position-anchor: --form-heading;
      right: anchor(right);
      top: anchor(top);
      margin-block-start: 0.3rem;
      width: 8rem;
    }

    .form-group {
      position: relative;
    }

    #cd-comps-form.active-form {
      label {
        color: light-dark(var(--clr-cd-comps));
      }
      input,
      select,
      textarea,
      button {
        outline-color: light-dark(var(--clr-cd-comps));
        color: light-dark(var(--clr-cd-comps));
      }
      button {
        color: light-dark(var(--clr-cd-comps));
      }

      ~ .increment-wrapper {
        label,
        input {
          color: light-dark(var(--clr-cd-comps));
          accent-color: light-dark(var(--clr-cd-comps));
        }
      }
    }

    #cd-singles-form.active-form {
      label {
        color: light-dark(var(--clr-cd-singles));
      }
      input,
      select,
      textarea,
      button {
        outline-color: light-dark(var(--clr-cd-singles));
        color: light-dark(var(--clr-cd-singles));
      }
      button {
        color: light-dark(var(--clr-cd-singles));
      }
      ~ .increment-wrapper {
        label,
        input {
          color: light-dark(var(--clr-cd-singles));
          accent-color: light-dark(var(--clr-cd-singles));
        }
      }
    }

    #cd-main-form.active-form {
      label {
        color: light-dark(var(--clr-cds-main));
      }
      input,
      select,
      button {
        outline-color: light-dark(var(--clr-cds-main));
        color: light-dark(var(--clr-cds-main));
      }
      button {
        color: light-dark(var(--clr-cds-main));
      }
      ~ .increment-wrapper {
        label,
        input {
          color: light-dark(var(--clr-cds-main));
          accent-color: light-dark(var(--clr-cds-main));
        }
      }
    }

    #records-form.active-form {
      label {
        color: light-dark(var(--clr-records));
      }
      input,
      select,
      button {
        outline-color: light-dark(var(--clr-records));
        color: light-dark(var(--clr-records));
      }
      button {
        color: light-dark(var(--clr-records));
      }
      ~ .increment-wrapper {
        label,
        input {
          color: light-dark(var(--clr-records));
          accent-color: light-dark(var(--clr-records));
        }
      }
    }

    #tapes-form.active-form {
      label,
      legend {
        color: light-dark(var(--clr-tapes));
      }
      input,
      select,
      button {
        outline-color: light-dark(var(--clr-tapes));
        color: light-dark(var(--clr-tapes));
      }

      fieldset {
        border-color: light-dark(var(--clr-tapes));
        input {
          accent-color: light-dark(var(--clr-tapes));
        }
      }
      button {
        color: light-dark(var(--clr-tapes));
      }
      ~ .increment-wrapper {
        label,
        input {
          color: light-dark(var(--clr-tapes));
          accent-color: light-dark(var(--clr-tapes));
        }
      }
    }

    form {
      display: none;
      max-width: 100%;
      view-transition-name: form-transition;

      h2 {
        margin-block-end: 1rem;
      }

      .form-group {
        display: grid;
        justify-items: center;
        max-width: 100%;
        font-size: 1.125rem;

        input,
        select,
        textarea,
        option {
          outline: 1px solid currentColor;
          margin-block: 0.5rem 1rem;
          border: none;
          text-align: center;
          padding: 0.25rem 0.5rem 0.35rem;
          border-radius: 10px;
        }

        input,
        textarea,
        select {
          field-sizing: content;
          min-width: 50%;
          max-width: 95%;
        }

        input:focus-visible,
        textarea:focus-visible,
        select:focus-visible {
          outline: 3px solid light-dark(black, white) !important;
          outline-offset: 3px;
        }
        input[type="radio"]:focus-visible {
          outline: 1px solid light-dark(black, white) !important;
          outline-offset: 3px;
        }

        select {
          option {
            background-color: var(--body-bg);
          }
        }
      }

      fieldset {
        width: 50%;
        border-color: light-dark(var(--clr-font-main));
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline: 1rem;
        padding-block-end: 0.75rem;
        margin-block-end: 1rem;

        legend {
          padding-inline: 0.75rem;
          text-align: center;
        }

        .radio-group {
          display: grid;
          justify-content: center;
          justify-items: center;

          & * {
            cursor: pointer;
          }

          input {
            accent-color: light-dark(var(--clr-font-main));
            outline: none;
            scale: 1.5;
          }
        }
      }

      button {
        font-size: 1.125rem;
        display: block;
        width: 250px;
        margin: 1rem auto;
        padding-block: 0.5rem 0.65rem;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        outline: 1px solid currentColor;
        box-shadow: 0px 2px 8px currentColor;

        &:focus-visible {
          outline: 3px solid light-dark(black, white) !important;
          outline-offset: 7px;
        }

        &:hover {
          scale: 1.05;
          box-shadow: 0px 1px 6px currentColor;
        }
      }
    }
    .active-form {
      display: block;
    }

    .increment-wrapper {
      width: 100%;
      grid-column: 2;

      & * {
        cursor: pointer;
      }

      .increment-inner-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin-block: 1rem 0.5rem;
        /* border-top: 1px solid currentColor; */
        /* border-bottom: 1px solid currentColor; */
        width: fit-content;
        margin-inline: auto;
        padding-inline: 1rem;
        padding-block: 1rem 0.5rem;
      }

      label {
        display: inline-block;
        margin-inline-start: 0.5rem;
        font-size: 0.85rem;
        padding-block-end: 0.1rem;
      }

      input {
        width: 1rem;
        aspect-ratio: 1;
      }

      p {
        text-align: center;
      }

      .btn-confirm-increment {
        display: none;
      }

      .btn-load-last,
      .btn-delete {
        margin-inline: auto;
        display: block;
        margin-block: 0.5rem;
      }

      .btn-load-last p {
        text-align: center;
        margin-block-end: 0.75rem;
        color: currentColor;
      }

      .btn-delete {
        color: light-dark(var(--clr-update));
      }
    }

    .session-list-wrapper {
      /* display: none; */
      width: 100%;
      text-align: center;
      outline: 1px solid currentColor;
      padding-block-start: 0.75rem;
      margin-block-start: 0.5rem;
      corner-shape: scoop;
      border-radius: 20px;
      padding-inline: 1rem;
      anchor-name: --session-list;

      .session-list-decoration {
        position: absolute;
        position-anchor: --session-list;
      }

      .deco-one {
        width: 2.5rem;
        top: calc(anchor(top) - 1.75rem);
        left: calc(anchor(left) - 1.75rem);
      }
      .deco-two {
        width: 2.5rem;
        top: calc(anchor(top) - 1.75rem);
        right: calc(anchor(right) - 1.75rem);
      }
      .deco-three {
        width: 2.5rem;
        bottom: calc(anchor(bottom) - 1.75rem);
        left: calc(anchor(left) - 1.75rem);
      }
      .deco-four {
        width: 2.5rem;
        bottom: calc(anchor(bottom) - 1.75rem);
        right: calc(anchor(right) - 1.75rem);
      }

      p#added-list-title {
        margin-block-end: 0.5rem;
      }

      ul {
        max-height: 26rem;
        min-height: 26rem;
        scrollbar-width: thin !important;
        overflow-y: auto;
        list-style-type: none;
      }
    }
  }

  .cd-comp-color {
    color: light-dark(var(--clr-cd-comps));
    border-color: light-dark(var(--clr-cd-comps));
  }

  .cd-single-color {
    color: light-dark(var(--clr-cd-singles));
    border-color: light-dark(var(--clr-cd-singles));
  }

  .cds-main-color {
    color: light-dark(var(--clr-cds-main));
    border-color: light-dark(var(--clr-cds-main));
  }

  .record-color {
    color: light-dark(var(--clr-records));
    border-color: light-dark(var(--clr-records));
  }

  .tape-color {
    color: light-dark(var(--clr-tapes));
    border-color: light-dark(var(--clr-tapes));
  }

  .update-color {
    color: light-dark(var(--clr-update));
  }
  .delete-color {
    color: light-dark(var(--clr-delete));
  }
}

#add-body .increment-inner-wrapper {
  border-top: 1px solid currentColor;
}

::view-transition-group(form-transition) {
  animation-duration: 800ms;
}

::view-transition-old(form-transition) {
  animation-name: form-leave;
}

::view-transition-new(form-transition) {
  animation-name: form-enter;
}

@keyframes form-leave {
  from {
    transform-origin: top center;
    height: 100%;
  }

  to {
    height: 0;
  }
}

@keyframes form-enter {
  0% {
    transform: translateY(200dvh) scale(0);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}
