#lookup-body {
  padding: 2rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 2.5rem;

    img {
      max-width: 200px;
    }
    h1,
    h2 {
      font-size: 3.5rem;
      color: var(--accent-purple);
    }
    h1 {
      margin-inline: 2rem auto;
    }

    dialog[open] {
      margin: auto;
      padding: 2rem;
      border: 2px solid var(--outline-purple);
      border-radius: 50px;
      corner-shape: squircle;
      box-shadow:
        0px 1px 0px 2px hsl(from var(--outline-purple) h s calc(l - 20)),
        0px 3px 15px 2px hsl(from var(--accent-purple) h s calc(l - 10) / 0.25);
      max-width: 42rem;
      /* background-color: hsl(from var(--accent-purple) h s calc(l - 15)); */
      background-color: black;
      position: relative;

      h2,
      p {
        color: hsl(from var(--accent-purple) h s calc(l - 10));
      }

      h2 {
        margin-block-end: 1rem;
        line-height: 1;
      }

      &::backdrop {
        background-color: hsl(0deg 0 0 / 0.7);
      }

      p {
        font-size: 1.5rem;
        line-height: 1;
        padding-left: 1rem;
        text-indent: -1rem;
        margin-block-end: 1rem;
        font-weight: 700;
        font-family: monospace;

        &:last-child {
          margin-block-end: 0.5rem;
        }
      }

      #btn-close {
        background-color: canvas;
        font-size: 1rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0.35rem 0.2rem;
        border-radius: 50px;
        corner-shape: squircle;
        background: linear-gradient(
          to bottom,
          rgb(from var(--accent-purple) r g b / 0.15),
          transparent 5%
        );
        z-index: -1;
      }
    }

    #btn-help {
      border: none;
      background-image: url("../assets/help.svg");
      background-size: 2rem;
      background-color: transparent;
      width: 2rem;
      height: 2rem;
      position: absolute;
      position-anchor: --btn-add-edit;
      right: calc(anchor(left) + 2rem);
      bottom: anchor(center);
      transform: translateY(50%);
    }

    a {
      font-size: 2rem;
      font-weight: 700;
      anchor-name: --btn-add-edit;
    }
  }

  main {
    .query-options {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .query-group {
        color: var(--accent-purple);
        display: flex;
        gap: 1rem;
        align-items: center;

        label {
          font-size: 3rem;
        }

        select {
          min-width: 15rem;
        }

        select,
        input[type="text"],
        button {
          background-color: var(--bg-color);
          font-size: 2rem;
          color: var(--accent-purple);
          accent-color: var(--accent-purple);
          font-weight: 700;
        }
      }

      #btn-lookup {
        anchor-name: --btn-lookup;
      }

      #result-qty {
        position: absolute;
        position-anchor: --btn-lookup;
        bottom: anchor(top);
        left: anchor(center);
        margin-block-end: 1rem;
        transform: translateX(-50%);
        font-size: 1.25rem;
        text-wrap: nowrap;
      }
    }

    #query-results {
      p:not(details p),
      summary {
        font-family: var(--reg-font);
        font-size: 1.25rem;
        display: grid;
        grid-template-columns: 10% auto 1fr 15%;
        color: var(--accent-purple);

        span {
          text-align: center;
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
        }
      }

      p.cd-comps {
        grid-template-columns: 10% auto 10% 15%;
      }
      p.cd-singles {
        grid-template-columns: 10% auto 1fr 10% 15%;
      }

      details {
        &[open] {
          border-block: 1px solid hsl(from var(--accent-purple) h s l / 0.5);
          padding-block-start: 0.25rem;
        }
        p {
          font-family: var(--reg-font);
          color: var(--accent-purple);
          /* grid-template-columns: repeat(5, 1fr); */
          grid-template-columns: 10% auto 1fr 15%;
          text-align: center;
          padding-block: 0.5rem;
        }
        p:not(.comp-tracks) {
          display: grid;
        }
      }

      .result-header {
        margin-block: 1rem;
        padding-block: 0.5rem;
        outline: 1px solid var(--accent-purple);
        border-radius: 50px;
        corner-shape: squircle;
        /* do we leave this sticky?... */
        position: sticky;
        top: 1rem;
        background-color: var(--bg-color);

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background-color: hsla(0deg 100% 100% / 0.1);
          z-index: -1;
        }

        span:not(:has(> span)) {
          cursor: pointer;
        }
      }
    }

    .back-to-top {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;

      span {
        background-color: var(--bg-color);
        border-radius: 15px;
        corner-shape: squircle;
        bottom: 1rem;
        outline: 1px solid var(--outline-purple);
        padding: 0rem 1rem;
        position: fixed;
        right: 2rem;
        rotate: -90deg;
        transition: background-color 0.3s;
        line-height: 1;
        font-weight: 700;
        font-size: 3rem;
        color: var(--accent-purple);

        &::after {
          content: "";
          position: absolute;
          inset: 0.2rem;
          border-radius: 15px;
          corner-shape: squircle;
          background: linear-gradient(
            to bottom,
            rgb(from var(--accent-purple) r g b / 0.35),
            transparent 12%
          );
          z-index: -1;
          rotate: 90deg;
        }
      }

      &:hover span,
      &:focus-visible span {
        background-color: hsl(from var(--outline-purple) h s l / 0.3);
      }

      &:focus-visible span {
        outline: 2px solid white;
        outline-offset: 3px;
      }
    }
  }

  #message {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--reg-font);
    text-align: center;
    max-width: 47ch;
    font-size: 1.25rem;
    color: hsl(0deg, 100%, 75%);
    font-weight: 700;
  }

  #tracks-popover {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    margin: auto;
  }
}
