#lookup-body {
  padding: 2rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 2.5rem;

    img {
      max-width: 200px;
    }

    a {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  main {
    /* h1 {
      font-size: 5rem;
      text-align: center;
      color: var(--accent-purple);
    } */

    .query-options {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .query-group {
        color: var(--accent-purple);
        display: flex;
        gap: 1rem;
        align-items: center;

        label {
          font-size: 3rem;
        }

        select {
          min-width: 15rem;
        }

        select,
        input[type="text"],
        button {
          background-color: var(--bg-color);
          font-size: 2rem;
          color: var(--accent-purple);
          accent-color: var(--accent-purple);
          font-weight: 700;
        }
      }
    }

    #query-results {
      p:not(details p),
      summary {
        font-family: var(--reg-font);
        font-size: 1.25rem;
        display: grid;
        grid-template-columns: 10% auto 1fr 15%;
        color: var(--accent-purple);

        span {
          text-align: center;
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
        }
      }

      details {
        &[open] {
          border-block: 1px solid hsl(from var(--accent-purple) h s l / 0.5);
          padding-block-start: 0.25rem;
        }
        p {
          font-family: var(--reg-font);
          color: var(--accent-purple);
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          text-align: center;
          padding-block: 0.5rem;
        }
      }

      .result-header {
        margin-block: 1rem;
        padding-block: 0.5rem;
        outline: 1px solid var(--accent-purple);
        border-radius: 50px;
        corner-shape: squircle;
        position: sticky;
        top: 1rem;
        background-color: var(--bg-color);
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background-color: hsla(0deg 100% 100% / 0.1);
        }
      }
    }
  }

  #message {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--reg-font);
    text-align: center;
    max-width: 47ch;
    font-size: 1.25rem;
    color: hsl(0deg, 100%, 75%);
    font-weight: 700;
  }
}
