#lookup-body {
  padding: 2rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 2.5rem;

    img {
      max-width: 200px;
    }

    a {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  main {
    h1 {
      font-size: 5rem;
      text-align: center;
      color: var(--accent-purple);
    }

    .query-options {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .query-group {
        color: var(--accent-purple);
        display: flex;
        gap: 1rem;
        align-items: center;

        label {
          font-size: 3rem;
        }

        select {
          min-width: 15rem;
        }

        select,
        input[type="text"],
        button {
          background-color: var(--bg-color);
          font-size: 2rem;
          color: var(--accent-purple);
          accent-color: var(--accent-purple);
          font-weight: 700;
        }
      }
    }

    #query-results {
      p {
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        font-size: 1.25rem;
        display: grid;
        grid-template-columns: 10% auto 1fr 15%;

        span {
          text-align: center;
        }
      }

      .result-header {
        margin-block-start: 1.5rem;
        outline: 1px solid var(--accent-purple);
        background-color: hsla(0deg 100% 100% / 0.1);
      }
    }
  }

  #message {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    text-align: center;
    max-width: 40ch;
    font-size: 1.25rem;
    color: hsl(0deg, 100%, 75%);
    font-weight: 700;
  }
}
