*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --outline-purple: hsl(300, 82%, 33%);
  --accent-purple: hsl(300, 34%, 70%);
  --bg-color: light-dark(white, black);
  --error-color: hsl(335, 100%, 50%);
  --reg-font:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --clr-font-main: hsl(300, 100%, 25%), hsl(300, 34%, 70%);

  --clr-cd-comps: hsl(360, 100%, 5%), hsl(0, 0%, 95%);

  --clr-cd-singles: hsl(45, 85%, 30%), hsl(55, 85%, 50%);

  --clr-cds-main: hsl(180, 40%, 32%), hsl(180, 50%, 60%);

  --clr-records: hsl(300, 60%, 37%), hsl(300, 34%, 50%);

  --clr-tapes: hsl(244, 87%, 42%), hsl(244, 100%, 75%);

  --clr-update: hsla(0, 100%, 50%, 0.85), hsla(0, 100%, 50%, 0.85);

  --heading-font: big-party;

  --body-bg: light-dark(rgb(187, 187, 187), black);

  /* this was the computed height when they were styled
  needed for the datalist animation calculation */
  --btn-height: 31.2px;
  --options-dropin-start-top: -50px;
  --timing: linear(
    0,
    0.532 20.8%,
    1 37.8%,
    0.877 44.2%,
    0.847 47.2%,
    0.838 50.1%,
    0.846 52.8%,
    0.869 55.6%,
    1 65.5%,
    0.965 69.4%,
    0.954 73.1%,
    0.961 76.5%,
    1 84.5%,
    0.992 89.3%,
    1
  );
  --timing2: linear(
    0,
    0.008 1%,
    0.03 2%,
    0.126 4.4%,
    0.663 13.2%,
    0.873 17.4%,
    0.948 19.4%,
    1.009 21.5%,
    1.053 23.6%,
    1.084 25.9%,
    1.102 28.9%,
    1.1 32.4%,
    1.017 46.9%,
    0.992 55.8%,
    1
  );
}

@property --rotate-start {
  syntax: "<angle>";
  initial-value: 5deg;
  inherits: false;
}

html {
  color-scheme: light dark;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

::selection {
  color: chartreuse;
  background: var(--outline-purple);
}

/* https://www.1001fonts.com/funky-fonts.html?page=3 */
@font-face {
  font-family: big-party;
  src: url("../fonts/bigpartyc2blue.medium.ttf");
}

img {
  display: block;
  max-width: 100%;
}

body:not(#add-body):not(#update-body) {
  background-color: var(--bg-color);
  min-height: 100dvh;
  font-family: big-party;
}

#home-logo {
  max-width: 400px;
  margin-block-end: 2rem;
}

button {
  font: inherit;
  cursor: pointer;
}

select,
input,
#result-qty {
  font-family: monospace;
}

input,
textarea {
  caret-color: hsl(from var(--accent-purple), h s l / 0.5);
  caret-shape: block;
}

datalist {
  scroll-margin-top: 7rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2.5rem;
  padding-inline: 3.5rem;

  img {
    max-width: 200px;
    anchor-name: --btn-lookup;
  }
}

body:not(#add-body):not(#update-body) {
  a:not(.back-to-top, .home-link),
  button:not(#btn-help) {
    font-size: 3rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
    color: var(--accent-purple);
    border: 2px solid var(--outline-purple);
    border-radius: 50px;
    corner-shape: squircle;
    box-shadow:
      0px 1px 0px 2px hsl(from var(--outline-purple) h s calc(l - 20)),
      0px 2px 10px 1px hsl(from var(--accent-purple) h s calc(l - 10) / 0.25);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0.25rem 0.2rem;
      border-radius: 50px;
      corner-shape: squircle;
      background: linear-gradient(
        to bottom,
        rgb(from var(--accent-purple) r g b / 0.15),
        transparent 25%
      );
    }
  }
  a:not(:last-child) {
    margin-block-end: 1.5rem;
  }
}

.scratch-pad {
  position: absolute;
  left: 0;
  transition: left 0.5s ease-in-out;
  bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  outline: 2px solid var(--accent-purple);
  padding-inline-end: 0.75rem;
  padding-block-end: 0.65rem;
  border-radius: 0 50% 50% 0;
  font-family: var(--reg-font);
  color: var(--accent-purple);

  span {
    display: inline-block;
    transition: rotate 0.3s ease;
    line-height: 1;
    text-box-edge: cap alphabetic;
    text-box-trim: trim-start;
    /* below keeps it centered while it roatates */
    padding-block-end: 0.15rem;
  }

  .drawer {
    position: absolute;
    left: -255px;
    bottom: -10px;

    textarea {
      outline: 2px solid var(--accent-purple);
      width: 250px;
      height: 250px;
      resize: none;
      border-radius: 0 20px 0 0;
      background-color: var(--body-bg);
      font-size: 1.25rem !important;
      color: currentColor;
    }
    &::after {
      content: "Scratch Pad";
      position: absolute;
      top: -1.5rem;
      left: 0;
      font-size: 1rem;
    }
  }
}

.page-message {
  --msg-clr: var(--error-color);
  position: fixed;
  font-size: 1.5rem;
  top: 8rem;
  left: -35rem;
  max-width: 30ch;
  border-inline-start: 5px solid var(--msg-clr);
  border-radius: 25px;
  corner-top-left-shape: scoop;
  corner-bottom-left-shape: scoop;
  padding: 1rem 2rem;
  color: white;
  z-index: 9999;
  background-color: hsl(from var(--msg-clr) h s l / 0.5);
}

.msg-animation {
  animation: toast-in 0.3s ease forwards;
}

.msg-animation-undo {
  animation: toast-out 0.3s ease forwards;
}
@keyframes toast-in {
  to {
    left: 1rem;
  }
}
@keyframes toast-out {
  from {
    left: 1rem;
  }
  to {
    left: -35rem;
  }
}
