#update-body {
  #update-id-form {
    font-size: 1.125rem;
    margin-block-end: 1rem;

    .form-group {
      display: flex;
      gap: 1rem;
      width: fit-content;
      margin-inline: auto;
      align-items: center;

      input {
        font-size: 1.5rem;
        outline: 1px solid currentColor;
        border: none;
        text-align: center;
        padding: 0.25rem 0.5rem 0.35rem;
        border-radius: 10px;
        width: 6rem;
      }

      button {
        padding: 0.25rem 1rem 0.3rem;
        background-color: var(--body-bg);
      }
    }

    .btn-delete {
      color: light-dark(var(--clr-update));
      opacity: 0.5;
    }
  }
}
